# Проигнорируйте файлы, находящиеся в подкаталоге tmp
/tmp/

# Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup. 
# Любые символы можно заменить символом звёздочка *.
*_old
*_backup

# Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store